.chatsContainer {
    display: flex;
    flex-direction: column;
    /* height: calc(100vh - 150px); */
    width: 100%;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
}

.roll {
    display: flex;
    align-items: center;
    background-color: rgb(92, 44, 214);
    border-radius: 25px;
}

.rollButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: left;
    width: 65px;
    height: 65px;
    margin: 10px;
}

.rollButton img {
    width: 75px;
}